body {
    background-color: #c4c4c4;
    font-family: sans-serif;
    line-height: 1.5;
}

main {
    margin: 0 auto;
    width: 80%;
    border-radius: 50px;
    background-color: white;
    padding: 1% 1% 2%;
}

h2, h1{
    text-align: center;
}

p, li {
    margin: 0 auto;
    width: 60%;
}


@media (max-width: 800px) {
    main, nav {
        width: 95%;
    }
    p, li {
        width: 80%;
        padding-bottom: 5%;
    }
}

/* Darkmode stuff */

@media (prefers-color-scheme: dark) {
    body {
        background-color: #515151;
    }

    main, nav {
        background-color: #d3d3d3 !important;
    }
}

nav {
    padding: 1em;
    border-radius: 50px;
    width: 80%;
    margin: 0 auto 2em;
    text-align: center;
    background-color: #FFFFFF;
}

nav ol {
    list-style-type: none;
    padding-left: 0;
    margin: auto;
}

nav li {
    display: inline-block;
}

nav a::after {
    display: inline-block;
    color: #000;
    content: '>';
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px;
}